<main>
    <div class="sidebar">
        <div class="sidebar__item">
            <h1 class="item__title">Playlists</h1>
            <ul class="item__list">
                <li class="list__item">
                    <img src="./assets/images/dream_widow.jpg" alt="img" class="list__img">
                    <span class="list__title">Heavy</span>
                </li>
                <li class="list__item">
                    <img src="./assets/images/dream_widow.jpg" alt="img" class="list__img">
                    <span class="list__title">Rock 'n roll</span>
                </li>
                <li class="list__item">
                    <img src="./assets/images/dream_widow.jpg" alt="img" class="list__img">
                    <span class="list__title">Fun</span>
                </li>
                <li class="list__item">
                    <img src="./assets/images/dream_widow.jpg" alt="img" class="list__img">
                    <span class="list__title">Way too funny</span>
                </li>
                <li class="list__item">
                    <img src="./assets/images/dream_widow.jpg" alt="img" class="list__img">
                    <span class="list__title">Hard Rock</span>
                </li>
            </ul>
        </div>
        <div class="sidebar__item">
            <h1 class="item__title">Artists</h1>
            <ul class="item__list">
                <li class="list__item">
                    <img src="./assets/images/dream_widow.jpg" alt="img" class="list__img">
                    <span class="list__title">Dream Widow</span>
                </li>
                <li class="list__item">
                    <img src="./assets/images/dream_widow.jpg" alt="img" class="list__img">
                    <span class="list__title">Slipknot</span>
                </li>
                <li class="list__item">
                    <img src="./assets/images/dream_widow.jpg" alt="img" class="list__img">
                    <span class="list__title">Rammstein</span>
                </li>
                <li class="list__item">
                    <img src="./assets/images/dream_widow.jpg" alt="img" class="list__img">
                    <span class="list__title">Another Day's Armor</span>
                </li>
                <li class="list__item">
                    <img src="./assets/images/dream_widow.jpg" alt="img" class="list__img">
                    <span class="list__title">Sick Puppies</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <form class="logout" method="post" action="/logout">
            <button type="submit">Logout</button>
        </form>
        <div class="detail">
            <div class="detail__top">
                <img class="detail__image" alt="playlist image" src="./assets/images/dream_widow.jpg">
                <div>
                    <h1 class="detail__title">Heavy</h1>
                    <span class="detail__owner">Taylor Hawkins</span>
                    {{!-- <p class="detail__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis sunt sequi impedit nulla non accusantium et, ratione reprehenderit hic eius aspernatur quae minima laborum beatae architecto laboriosam inventore sint. Minus?</p> --}}
                </div>
            </div>
        </div>
        <div class="main_content">
            <ol class="songs">
                <li class="song">
                    <img class="song__image" src="./assets/images/dream_widow.jpg">
                    <div>
                        <h1 class="song__title">Encino</h1>
                        <span class="song__artist">Dream Widow</span>
                    </div>
                </li>
            </ol>
        </div>   
    </div>
</main>
<footer>
    <h3>Current song</h3>
</footer>