<main>
    {{#if manage}}
        <div class="modal">
            <form class="content__top" method="post" action="/">
                <button class="content__btn content__btn--close" type="submit">
                    <i class="content__icon fa-solid fa-xmark"></i> 
                </button>
            </form>
            {{#manageType manage 'users'}}
                <ul class="manage_users">
                    {{#each @root.data}}
                        <li class="manage_user">
                            <span>{{this.email}}</span>
                            <select>
                                {{#each @root.roles}}
                                    <option value="{{this.id}}"{{#currentRole ../this.role_id.id this.id}} selected{{/currentRole}}>{{this.label}}</option>
                                {{/each}}
                            </select>
                        </li>
                    {{/each}}
                </ul>
            {{/manageType}}
            {{#manageType manage 'artists'}}
                <ul class="manage_artists">
                    {{#each @root.artists}}
                        <li class="manage_artist">
                            <span>{{this.name}}</span>
                        </li>
                    {{/each}}
                </ul>
            {{/manageType}}
        </div>
    {{/if}}      
    <div class="sidebar">
        <div class="sidebar__item">
            <h1 class="item__title">Playlists</h1>
            <ul class="item__list">
                {{#each playlists}}
                    {{>card}}
                {{/each}}
            </ul>
        </div>
        <div class="sidebar__item">
            <h1 class="item__title">Artists</h1>
            <ul class="item__list">
                {{#each artists}}
                    {{>card}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="content">
        <form class="content__top" method="post" action="/logout">
            {{#isEditor role}}
            <section>
                <span class="content__span">Edit:</span>
                <button class="content__btn" type="submit" formaction="/?manage=users">Users</button>
                <button class="content__btn" type="submit" formaction="/?manage=artists">Artists</button>
                <button class="content__btn" type="submit" formaction="/?manage=songs">Songs</button>
                <button class="content__btn" type="submit" formaction="/?manage=playlists">Playlists</button>
            </section>
            {{/isEditor}}
            <button class="content__btn btn_logout" type="submit">Logout</button>
        </form>
        <div class="detail">
            <div class="detail__top">
                <img class="detail__image" alt="playlist image" src="/assets/images/dream_widow.jpg">
                <div>
                    <h1 class="detail__title">Heavy</h1>
                    <span class="detail__owner">Taylor Hawkins</span>
                    {{!-- <p class="detail__description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis sunt sequi impedit nulla non accusantium et, ratione reprehenderit hic eius aspernatur quae minima laborum beatae architecto laboriosam inventore sint. Minus?</p> --}}
                </div>
            </div>
        </div>
        <div class="main_content">
            <ol class="songs">
                <li class="song">
                    <h1 class="song__title">Encino</h1>
                    <span>-</span>
                    <span class="song__artist">Dream Widow</span>
                </li>
            </ol>
        </div>   
    </div>
</main>
<footer class="playing_song">
    <div class="playing_song__details">
        <h3 class="playing_song__title">Current Song</h3>
        <h4 class="playing_song__artist">Artist</h4>
    </div>
    <section class="playing_song__controls">
        <img class="playing_song__icon" src="/assets/images/icons/btn_shuffle.svg">
        <img class="playing_song__icon" src="/assets/images/icons/btn_previous.svg">
        <img class="playing_song__icon--play" src="/assets/images/icons/btn_play.svg">
        <img class="playing_song__icon" src="/assets/images/icons/btn_next.svg">
        <img class="playing_song__icon" src="/assets/images/icons/btn_loop.svg">
    </section>
    <div class="playing_song__padding"></div>
</footer>
<script type="module" src="/assets/scripts/app.js"></script>